/Michael Stokley Resume.aux
/Michael Stokley Resume.log
/Michael Stokley Resume.out
/Michael Stokley Resume.synctex.gz
/Michael Stokley Resume old.tex
/auto/Michael Stokley Resume.el
/Michael Stokley Resume old.aux
/Michael Stokley Resume old.log
/Michael Stokley Resume old.out
/Michael Stokley Resume old.pdf
/Michael Stokley Resume old.synctex.gz
